<div class="container">
    <h1 class="text-center mb-4">Agregar Productos</h1>
    <form class="d-flex flex-column align-items-center justify-content-center" id="addForm" >
        <input class="mb-3 w-50 p-3" required type="text" id="productTitle" placeholder="Titulo del producto" name="nombre">
        <input class="mb-3 w-50 p-3" required type="text" id="productPrice" placeholder="Precio del producto" name="precio">
        <input class="mb-3 w-50 p-3" type="text" id="productImg" placeholder="URL de la imagen del producto" name="url">
        <button class="mb-3 w-50 p-3 btn btn-primary" id="agregarBtn">Agregar</button>
    </form>
    <a class="d-flex align-items-center justify-content-center" href="./listaproductos"><button type="button" class="btn btn-success">Ver lista de productos</button></a>
</div>

<div>
    <h1 class="text-center mb-4">Lista de productos</h1>
        <div class="d-flex align-items-center justify-content-center border-bottom">
            <div class="container row">
                <div class="col">
                    Nombre
                </div>
                <div class="col">
                    Precio
                </div>
                <div class="col">
                    Imagen
                </div>
            </div>
        </div>

            <div class="container border-bottom">
                <div class="row" id="list">
                    
                </div>
            </div>

    <a class="d-flex align-items-center justify-content-center" href="./productos">
    </a>
</div>
<script src="main.js"></script>