<div class="container">
    <h1 class="text-center mb-4">Agregar Productos</h1>
    <form class="d-flex flex-column align-items-center justify-content-center" action="/productos" method="POST">
        <input class="mb-3 w-50 p-3" required type="text" id="productTitle" placeholder="Titulo del producto" name="nombre">
        <input class="mb-3 w-50 p-3" required type="text" id="productPrice" placeholder="Precio del producto" name="precio">
        <input class="mb-3 w-50 p-3" type="text" id="productImg" placeholder="URL de la imagen del producto" name="url">
        <input class="mb-3 w-50 p-3 btn btn-primary" type="submit" value="Agregar">
    </form>
    <a class="d-flex align-items-center justify-content-center" href="./listaproductos"><button type="button" class="btn btn-success">Ver lista de productos</button></a>
</div>